# Combined environment variables from auth, api-gateway and syncing-server
ACCESS_TOKEN_AGE=5184000
AUTH_JWT_SECRET=auth_jwt_secret #change-me
AUTH_JWT_TTL=60000
AUTH_SERVER_URL=http://localhost:3001 #auth server will run on localhost port 3001

#CONTENT_SIZE_TRANSFER_LIMIT

DB_DATABASE=db #change-me
DB_DEBUG_LEVEL=all
DB_HOST=dbhost #change-me
DB_MIGRATIONS_PATH=dist/migrations/*.js
DB_PASSWORD=yourdatabasepassword #change-me
DB_PORT=3306
DB_REPLICA_HOST=dbhost #change-me
DB_USERNAME=std_notes_user #change-me

#DISABLE_INTEGRITY_HASH=true
DISABLE_USER_REGISTRATION=false

EMAIL_ATTACHMENT_MAX_BYTE_SIZE=10485760
 
# Encryption Server Key must be a hex string exactly 32 bytes long
# e.g. feffe9928665731c6d6a8f9467308308feffe9928665731c6d6a8f9467308308
ENCRYPTION_SERVER_KEY=encryption_server_key #change-me

EPHEMERAL_SESSION_AGE=259200
EXTENSIONS_SERVER_URL=

FAILED_LOGIN_LOCKOUT=3600
FILES_SERVER_URL=

HTTP_CALL_TIMEOUT=60000

INTERNAL_DNS_REROUTE_ENABLED=false

JWT_SECRET=secret #change-me

LEGACY_JWT_SECRET=legacy_jwt_secret #change-me
LOG_LEVEL=info

MAX_LOGIN_ATTEMPTS=3

NEW_RELIC_APP_NAME=RelicAppName
NEW_RELIC_DISTRIBUTED_TRACING_ENABLED='false'
NEW_RELIC_ENABLED='false'
NEW_RELIC_LICENSE_KEY=Syn-Yes
NEW_RELIC_LOG=stdout
NEW_RELIC_LOG_ENABLED='false'
NEW_RELIC_LOG_LEVEL=info
NEW_RELIC_NO_CONFIG_FILE='true'
NODE_ENV=production

PAYMENTS_SERVER_URL=

PSEUDO_KEY_PARAMS_KEY=secret_key #change-me

REDIS_URL=redis://localhost:6379 #redis will run on localhost default port 6379
REFRESH_TOKEN_AGE=31556926
REVISIONS_FREQUENCY=300

S3_AWS_REGION=
S3_BACKUP_BUCKET_NAME=
SNS_TOPIC_ARN=
SNS_AWS_REGION=
SQS_QUEUE_URL=
SQS_AWS_REGION=

S6_CMD_WAIT_FOR_SERVICES_MAXTIME=30000

SYNCING_SERVER_JS_URL=http://localhost:3000 #syncing server will run on localhost port 3000
SYNCING_SERVER_URL=http://localhost:3000 #syncing server will run on localhost port 3000

USER_SERVER_REGISTRATION_URL=
USER_SERVER_AUTH_KEY=
USER_SERVER_CHANGE_EMAIL_URL=

VALET_TOKEN_SECRET=
VALET_TOKEN_TTL=

WEBSOCKETS_API_URL=
